*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    height: 100vh;
    background-color: rgb(42, 20, 102);
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    
}

.container{
    display: grid;
    grid-template-columns: repeat(3, auto);
    width: 300px;
    height: 300px;
    
}

.cell{
    border: 1px solid aqua;
    cursor: pointer;
    height: 100px;
    width: 100px;
    line-height: 100px;
    text-align: center;
    color: aqua;
    font: 3.2em;
    font-weight: bold;

}
.cell.winner{
    text-decoration: line-through;

}
button{
    border: 1px solid aqua;
    background-color: transparent;
    color: aqua;
    padding: 5px 20px;
    cursor: pointer;
    font-size: 1.4em;
}
h2{
    color: aqua;
}
